//- include ./components/encabezado.pug
//- inlude une los componentes dentro de la última sección que tenga el archivo, por lo cual, es mejor usar extends para unir un componente padre con uno hijo
extend ./components/plantilla.pug
block contenido

  section.intro
    .intro__image: img(src="./images/imagen.png")
    .intro__contenido
      //- VARIABLES
      h2= title
      //- h2 #{subtitulos[0]}
      //- h2 #{subtitulos[0][1]}
      //- h2 #{title}

      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, officia enim recusandae doloribus voluptate placeat, fuga maiores saepe accusamus odio ullam aliquid modi laudantium ipsam quasi. Dolore et ipsa enim.
        span Lorem ipsum dolor sit.
      
      //- PARA TEXTOS LARGOS FORMA 1 -> INTERPOLACIÓN con un punto (.)
      //- p. 
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      //-   span Lorem ipsum dolor sit.

      //- PARA TEXTOS LARGOS, FORMA 2 -> INTERPOLACIÓN con una linea (|)
      //- p 
        | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      //-   span Lorem ipsum dolor sit.
      
      a.boton(href="./article.html") #{buttons[1]}

  //- LOOPS
  //- ul 
  //-   each titulo in subtitulos
  //-     li #{titulo}

  main.contenido
    each subtitulo in subtitulos
      +caja('imagen.png', subtitulo)
    