-var title = 'Título Principal';
-var subtitulos = ['Título Principal', 'Subtítulo 1', 'Subtítulo 2', 'Subtítulo 3'];
-var user = 'Duvan';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="./css/ejercicio-pug.css")
    title Platzi Games
  body
    header
      h1 Platzi
      if user 
        a Hola #{user}
      else
        a.boton(href="")  Registro
    
    section.intro
      .intro__image: img(src="./images/imagen.png")
      .intro__contenido
        //- VARIABLES
        h2= title
        //- h2 #{subtitulos[0]}
        //- h2 #{subtitulos[0][1]}
        //- h2 #{title}
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          span Lorem ipsum dolor sit.
        
        //- PARA TEXTOS LARGOS FORMA 1 -> INTERPOLACIÓN con un punto (.)
        //- p. 
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        //-   span Lorem ipsum dolor sit.

        //- PARA TEXTOS LARGOS, FORMA 2 -> INTERPOLACIÓN con una linea (|)
        //- p 
          | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        //-   span Lorem ipsum dolor sit.
        
        a.boton Leer más
    
    ul 
      //- LOOPS
      each titulo in subtitulos
        li #{titulo}